Repository SoftDev4Research/4OSS-lesson, pull requests merged in 2018-09, with the labels that each got.

#24 Lesson 5 -- contributing
  _episodes/05-contribution-governance-communication.md
Labels: Contribution-episode

#50 Update "make it public" lesson
  _episodes/01-introduction.md
  _episodes/02-make-it-public.md
  code/positive_limits.py
Labels: Source-episode

#25 Draft of episode 03 about license
  _episodes/04-use-license.md
Labels: License-episode

#52 Update on the metadata episode, first draft of introduction & setup
  _episodes/01-introduction.md
  _episodes/03-use-registry.md
  _extras/guide.md
  fig/bio-tools-main-ui.png
  setup.md
Labels: Metadata-episode
